*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 900px;
  margin: 0 auto;
}
.column {
  height: 100vh;
  width: 33%;
  display: inline-block;
  float:left;
}

.column.left {
  background-color: #4A90E2;

}

.column.center{
  background-color: #50E3C2;

}

.column.right{
  background-color: #B8E986;
  position: relative;

}

.photo{
  height: 250px;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo h2{
color: white;
font-family: sans-serif;
font-weight: 100;
font-size: 28px;

}
